@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --card: #ffffff;
    --card-foreground: #09090b;
    --popover: #ffffff;
    --popover-foreground: #09090b;
    --primary: #0d6efd;
    --primary-foreground: #ffffff;
    --secondary: #f0f0f0;
    --secondary-foreground: #09090b;
    --muted: #f0f0f0;
    --muted-foreground: #71717a;
    --accent: #f0f0f0;
    --accent-foreground: #09090b;
    --destructive: #dc2626;
    --destructive-foreground: #ffffff;
    --border: #e0e0e3;
    --input: #e0e0e3;
    --ring: #0d6efd;
  }

  .dark {
    --background: #09090b;
    --foreground: #f0f0f0;
    --card: #09090b;
    --card-foreground: #f0f0f0;
    --popover: #09090b;
    --popover-foreground: #f0f0f0;
    --primary: #0d6efd;
    --primary-foreground: #ffffff;
    --secondary: #18181b;
    --secondary-foreground: #f0f0f0;
    --muted: #18181b;
    --muted-foreground: #a1a1aa;
    --accent: #18181b;
    --accent-foreground: #f0f0f0;
    --destructive: #dc2626;
    --destructive-foreground: #ffffff;
    --border: #27272a;
    --input: #27272a;
    --ring: #0d6efd;
  }
}
body{
 
  background-color: var(--background);
  /* background-color: #f2f5ff; */
  color: var(--foreground);
}